In [ ]:
create table coffees (
    name varchar(50) primary key check (name <> ''),
    manufacturer varchar(50) not null check (manufacturer <> '')
);

create table coffeehouses (
    name varchar(50) primary key check (name <> ''),
    address varchar(50) not null,
    license integer
);

create table sells (
    coffeehouse varchar(50) references coffeehouses(name),
    coffee varchar(50) references coffees(name),
    price real not null check (price >= 0.0),
    primary key (coffeehouse,coffee)
);

In [ ]:
drop table if exists supplies;
drop table if exists made_of;
drop table if EXISTS for_sale;
drop table if exists supplier;
drop table if exists ingredient;
drop table if exists dish;

create table dish (
    id serial primary key,
    name varchar(100) not null,
    price real not null
);

create table ingredient (
    id serial primary key,
    name varchar(100) not null
);

create table supplier (
    id serial primary key
);

create table for_sale (
    date date not null,
    sold integer not null check(sold >= 0),
    dishid integer references dish(id),
    primary key (date,dishid)
);

create table made_of (
    dishid integer references dish(id),
    ingrid integer references ingredient(id),
    quantity varchar(20),
    primary key (dishid, ingrid)
);

create table supplies (
    ingrid integer references ingredient(id),
    suppid integer references supplier(id),
    primary key (ingrid,suppid)
);

In [ ]:
-- use this to test the query after
insert into ingredient (name)
values ('egg');

insert into dish (name, price)
values ('eggsalad',3.33);

insert into made_of (dishid,ingrid,quantity)
values (
    (select id from dish where name = 'eggsalad'), 
    (select id from ingredient where name = 'egg'),
    '2 oz'
);

In [ ]:
select d.id, d.name, d.price
from ( 
    select *
    from ingredient i
    where i.name = 'egg' 
) egg 
join made_of mo on mo.ingrid = egg.id
join dish d on mo.dishid = d.id;

In [ ]:
select sum(s.sold*d.price)
from for_sale s 
    join dish d on s.dishid = d.id 
where s.date = current_date;

In [ ]:
select d.id, d.name, d.price
from for_sale s 
    join dish d on s.dishid = d.id 
where s.sold = (select max(sold) from for_sale where date = current_date);