In [5]:
import numpy as np
import pandas as pd

In [2]:
data = [15, 16, 18, 19, 22, 24, 29, 30, 34]

In [3]:
print('Mean:', np.mean(data))
print('Median:', np.median(data))
print('50th percentile:', np.percentile(data,50))
print('25th percentile:', np.percentile(data,25))
print('75th percentile:', np.percentile(data,75))
print('Std deviation:', np.std(data))
print('varianca:', np.var(data))

Mean: 23.0
Median: 22.0
50th percentile: 22.0
25th percentile: 18.0
75th percentile: 29.0
Std deviation: 6.342099196813483
varianca: 40.22222222222222

In [6]:
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
print(df.head())

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [7]:
print(df.describe())

         Survived      Pclass         Age  Siblings/Spouses  Parents/Children  \
count  887.000000  887.000000  887.000000        887.000000        887.000000
mean     0.385569    2.305524   29.471443          0.525366          0.383315
std      0.487004    0.836662   14.121908          1.104669          0.807466
min      0.000000    1.000000    0.420000          0.000000          0.000000
25%      0.000000    2.000000   20.250000          0.000000          0.000000
50%      0.000000    3.000000   28.000000          0.000000          0.000000
75%      1.000000    3.000000   38.000000          1.000000          0.000000
max      1.000000    3.000000   80.000000          8.000000          6.000000

            Fare
count  887.00000
mean    32.30542
std     49.78204
min      0.00000
25%      7.92500
50%     14.45420
75%     31.13750
max    512.32920

In [12]:
print(type(df['Age']))

<class 'pandas.core.series.Series'>

In [13]:
print(df[['Age','Survived']])

      Age  Survived
0    22.0         0
1    38.0         1
2    26.0         1
3    35.0         1
4    35.0         0
..    ...       ...
882  27.0         0
883  19.0         1
884   7.0         0
885  26.0         1
886  32.0         0

[887 rows x 2 columns]

In [14]:
print(df[['Age','Survived']].describe())

              Age    Survived
count  887.000000  887.000000
mean    29.471443    0.385569
std     14.121908    0.487004
min      0.420000    0.000000
25%     20.250000    0.000000
50%     28.000000    0.000000
75%     38.000000    1.000000
max     80.000000    1.000000