In [4]:
--1
select  count(*)
FROM    person P
WHERE   P.height is null;

count
47315

In [8]:
--2
select count(*) from (
    select  count(*)
    from    involved I
    join    person P on I.personid = P.id 
    group by I.movieid 
    HAVING  avg(P.height) > 190 
) temp;

count
89

In [13]:
--3
select count(distinct movieid) from (
    select  movieid
    from    movie_genre
    group by movieid, genre
    having  count(*) > 1
) temp;

count
143

In [22]:
--4
select  count(distinct(N.personid))
from    involved I
join    involved N on I.personid = (select id from person where name = 'Steven Spielberg')
        and I.role = 'director' and N.role = 'actor' and N.movieid = I.movieid;

count
2219

In [46]:
--5
select count(*) from (
    select  id
    from    movie
    where   year = 1999
    except 
    select  M.id
    from    movie M
    JOIN    Involved I on M.year = 1999 and M.id = I.movieid
) temp;

count
7

In [45]:
--6
select count(*) from (
    select  count(*)
    from    involved I 
    join    involved N on I.personid = N.personid and I.role = 'actor' 
            and N.role = 'director' and I.movieid = N.movieid
    group by I.personid
    having  count(distinct I.movieid) > 1
) temp;

count
345

In [38]:
--7
select count(*) from (
    select  count(*)
    from    movie M
    JOIN    involved I on M.id = I.movieid and M.year = 1999
    group BY M.id
    having  count(distinct I.role) = (select count(distinct role) from role)
) temp;

count
250

In [47]:
--8
select count(*) from (
    select  P.id
    from    movie_genre MG
    join    genre G on MG.genre = G.genre and G.category = 'Lame'
    JOIN    involved I on I.movieid = MG.movieid
    join    person P on I.personid = P.id 
    group by P.id 
    having  count(distinct G.genre) = (select count(distinct genre) from genre where category = 'Lame')
) temp;

count
1