## DDL

In [ ]:
-- assume all names can be varchar(50), replace with domain in better version

create table People (
    id serial primary key,
    name varchar(50) not null,
    address varchar(250) not null,
    phone integer not null,
    DOB date not null,
    DOD date default null
);
-- assuming integer phone nr, adn varchar(250) address
-- DOD should be later than DOB when set, unenforcable in DDL

create table Linking (
    id serial primary key,
    name varchar(50) not null,
    type varchar(20) not null,
    description text not null
);
-- assuming type is varchar(20)

create table Participates (
    peopleid integer references people(id),
    linkingid integer references linking(id),
    primary key (peopleid,linkingid)
);
-- minimum 1 person pr. linking unenforcable in DDL

create table Member (
    id integer references People(id) primary key,
    start_date date not null
); 
-- should forbid deletes as cannot leave party
-- start_date should be after DOB but before DOD, unenforcable

create table Enemy (
    id integer references People(id) primary key
);

create table Opposes (
    memberid integer references Member(id),
    enemyid integer references Enemy(id),
    start_date date not null,
    end_date date null,
    primary key (memberid, enemyid)
);
-- assuming each member may oppose each enemy only once

create table Asset (
    memberid integer references Member(id),
    name varchar(50) not null,
    detail text not null,
    uses text not null,
    primary key (memberid,name)
);
-- assuming detail & uses are text

create table Role (
    id serial primary key,
    title varchar(50) unique
);

create table Serve_In (
    start_date date not null,
    end_date date not null,
    salary real not null,
    roleid integer references Role(id),
    memberid integer references Member(id),
    primary key (roleid, memberid)
);

create table Party (
    id serial primary key,
    name varchar(50) not null,
    country varchar(50) not null,
    unique (name,country)
);
-- consider lookup table for countries if referenced multiple places

create table Sponsor (
    id serial primary key,
    name varchar(50) not null,
    address varchar(250) not null,
    industry varchar(50) not null
);
-- assuming industry is varchar(50) consider giving industry own relation to lookup sponsors by industry

create table SponsorGrant (
    sponsorid integer references Sponsor(id),
    memberid integer references Member(id),
    date date,
    amount real not null,
    payback varchar(50) not null,
    primary key (sponsorid, memberid, date)
);

create table Reviews (
    memberid integer references Member(id),
    grant_sponsorid integer,
    grant_memberid integer,
    grant_date date,
    date date not null,
    grade integer check (grade between 0 and 10 or grade is null),
    foreign key (grant_sponsorid,grant_memberid,grant_date) references SponsorGrant(sponsorid,memberid,date),
    primary key (grant_sponsorid,grant_memberid,grant_date)
);
-- fine for now, Grant could have its own id to simplify

## DECOMPOSITION

In [ ]:
create table R1 (
    pid integer primary key,
    pn varchar(50) not null
);

create table R2 (
    hz int primary key,
    hc varchar(50) not null
);

create table R3 (
    hid int primary key,
    hs varchar(50) not null,
    hz int not null references R2(hz)
);

create table R (
    pid int references R1(pid),
    hid int references R3(hid),
    s int not null,
    primary key (pid,hid)
);