In [ ]:
-- Clean
drop table if exists frequents;
drop table if exists sells;
drop table if exists likes;
drop table if exists coffees;
drop table if exists coffeehouses;
drop table if exists drinkers;

drop domain if exists namestring;
drop domain if exists address_string;

-- Domains
create domain namestring as VARCHAR(50);
create domain address_string as VARCHAR(100);

-- Tables 
create table coffees (
    name namestring primary key,
    manufacturer namestring not null
);

create table coffeehouses (
    name namestring primary key,
    address address_string not null,
    license varchar(50)
);

create table drinkers (
    name namestring primary key,
    address address_string not null,
    phone INTEGER not null
);

create table likes (
    drinker namestring references drinkers(name),
    coffee namestring references coffees(name),
    primary key (drinker, coffee)
);

create table sells (
    coffeehouse namestring references coffeehouses(name),
    coffee namestring references coffees(name),
    price real check (price >= 0) not null,
    primary key (coffeehouse, coffee)
);

create table frequents (
    drinker namestring references drinkers(name),
    coffeehouse namestring references coffeehouses(name),
    primary key (drinker, coffeehouse)
);

In [ ]:
insert into coffees (name, manufacturer)
values ('hacienda esmeralda', 'honest brazil'),
       ('kopi luwak', 'catfood coffees');

insert into coffeehouses (name, address, license)
values ('lulsbucks', 'infinity avenue 5, usa', null),
       ('hip coffee', 'unknown location', null);

insert into drinkers (name, address, phone)
values ('bjorn jonson', 'coolguy street 5, 1000 iceland', 32323232),
       ('super dan', 'silicon valley 42, 1000 herp', 03030303);

insert into likes (drinker, coffee)
values ('super dan', 'hacienda esmeralda'),
       ('bjorn jonson', 'kopi luwak');

insert into sells (coffeehouse, coffee, price)
values ('lulsbucks', 'kopi luwak', 500.7),
       ('hip coffee', 'hacienda esmeralda', 35);

insert into frequents (drinker, coffeehouse)
values ('super dan', 'hip coffee'),
       ('bjorn jonson', 'lulsbucks');

In [ ]:
-- hello world
select 'Hello, World!';

In [ ]:
-- basic select
select * from coffees;

In [ ]:
select * 
from drinkers
where name <> 'Bjorn Jonsson';

In [ ]:
select *
from drinkers
where name like 'Bjorn%';

In [ ]:
select coffee
from sells
where coffee like 'Blue%' 
and price > 100;

In [ ]:
select distinct coffee
from sells;

In [ ]:
select distinct coffee, price
from sells 
order by price desc;

In [ ]:
select distinct coffee, price
from sells
order by coffee asc, price desc;

In [ ]:
select l.drinker, coffee, rating
from likes l 
join frequents f
on l.drinker = f.drinker;