In [ ]:
create table gender (
    gender char(1) primary key,
    description text not null
);

create table people (
    id serial primary key,
    name varchar(50) not null,
    height integer not null,
    gender varchar(1) references gender(gender)
);

create table sport (
    id serial primary key,
    name varchar(50) not null, 
    record real
);

create table competition (
    id serial primary key,
    place varchar(50) not null,
    held date not null
);

create table results (
    result real,
    sid integer references sport(id),
    cid integer references competition(id),
    pid integer references people(id),
    primary key (sid,cid,pid)
);